<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         defaultTestSuite="Small"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Small">
            <directory suffix="Test.php">./tests/Small</directory>
        </testsuite>
        <testsuite name="Medium">
            <directory suffix="Test.php">./tests/Small</directory>
            <directory suffix="Test.php">./tests/Medium</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
